NODE_ENV=development

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=qrp

JWT_SECRET=
JWT_EXPIRES_IN=1h

ENCRYPTION_SECRET_KEY=

CORS_ORIGIN=http://localhost:5173
FRONTEND_URL=http://localhost:5173
